<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Channel Column -->
    <ng-container matColumnDef="channel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Channel</th>
      <td mat-cell *matCellDef="let row">{{row.channel}}</td>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      <td mat-cell *matCellDef="let row">{{row.region}}</td>
    </ng-container>

    <!-- Branch Code Column -->
    <ng-container matColumnDef="branchCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Code</th>
      <td mat-cell *matCellDef="let row">{{row.branchCode}}</td>
    </ng-container>

    <!-- Branch Manager Column -->
    <ng-container matColumnDef="branchManager">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Manager</th>
      <td mat-cell *matCellDef="let row">{{row.branchManager}}</td>
    </ng-container>

    <!-- Financial Advisor Column -->
    <ng-container matColumnDef="financialAdvisor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Financial Advisor</th>
      <td mat-cell *matCellDef="let row">{{row.financialAdvisor}}</td>
    </ng-container>

    <!-- FA ELID Column -->
    <ng-container matColumnDef="faElid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FA ELID</th>
      <td mat-cell *matCellDef="let row">{{row.faElid}}</td>
    </ng-container>

    <!-- Official Team Participant Column -->
    <ng-container matColumnDef="teamPart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Official Team Participant</th>
      <td mat-cell *matCellDef="let row">{{row.teamPart}}</td>
    </ng-container>

    <!-- FA Owned Rep Code Column -->
    <ng-container matColumnDef="faOwnedRepCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FA Owned Rep Code</th>
      <td mat-cell *matCellDef="let row">{{row.faOwnedRepCode}}</td>
    </ng-container>

    <!-- Rep Code Ownership Column -->
    <ng-container matColumnDef="repCodeOwnership">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rep Code Ownership</th>
      <td mat-cell *matCellDef="let row">{{row.repCodeOwnership}}</td>
    </ng-container>

    <!-- Rep Code Type Column -->
    <ng-container matColumnDef="repCodeType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rep Code Type</th>
      <td mat-cell *matCellDef="let row">{{row.repCodeType}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
